.book-item {
    text-decoration: none;
    color: white;
    width: 450px;
    height: 400px;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.book-item:hover { 
    box-shadow: 0 0 10px rgb(85, 88, 237);
}

.autor-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.book-item {
    margin: 3%;
}

.book-item__title {
    font-size: 18px;
    font-weight: bold;
}

.book-item__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.book-item__details{
    padding: 10px 20px;
}

.book-item__description {
    margin-top: 10px;
    font-size: 14px;
}

.book-item__buy {
    position: absolute;
    right: 0;
    bottom: -12px;
}