.book {
    background: url('../../img/book.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px;
    font-size: 14px;
    color: black
}