.container-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    flex-direction: column
}

.container-page .back-btn{
    align-self: flex-start;
    margin: 25px;
    background: transparent;
    font-size: 24px;
    border: 1px solid purple;
    color: purple;
    cursor: pointer;
 }

.empty {
    height: 80vh;
}

.container-page img{
    width: 40%;
    height: 50%;
 }

 .container-page {
    width: 80%;
    color: white;
 }

 @media (max-width: 1020px) {
    iframe, h2 {
        display: none
    }
}